@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Public+Sans:wght@300;400;600&display=swap");

* {
    font-family: "Roboto Condensed";
}

h1,
h2,
h3,
h4,
h5,
h6,
.fs-1,
.fs-2,
.fs-3,
.fs-4,
.fs-5,
.fs-6 {
    font-family: "Bebas Neue";
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px 0px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px 0px;
}

.shadow-primary {
    box-shadow: rgba(255, 255, 0, 0.6) 0px 11.3115px 40px 0px;
}

.shadow-none {
    box-shadow: none;
}